
<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
    <title>Wueiz's Blog</title>
</head>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
<script type="text/javascript">
        function tiao()
        {
            var s=document.getElementsByName("radio-set");
            for(i=0;i<s.length;i++)
            {
                if(s[i].checked==true)
                {
                    window.location.replace('http://'+s[i].value+'');
                }
            }
        }
        window.onload = function(){
            thisurl = document.URL.substring(22);
            var reb = /blog/;
            var rec = /contact/;
            if (reb.test(thisurl)) {
                var c=document.getElementById("li-i2");
                c.checked=true;
            }
            else if(rec.test(thisurl)){
                var d = document.getElementById("li-i3");
                d.checked=true;
            }
            else{
                var e = document.getElementById("li-i1");
                e.checked=true;
            }
        }
</script>
<body>
    <div class="main">
        <div class="mleft">
            <ul>
                <li class="colist" id="cofir">
                    <input type="radio"  name="radio-set" id="li-i1" value="139.129.50.126" onclick="tiao()">
                    <a href="#" >
                        <img src="../static/images/home.png" class="a_img">
                    </a>
                </li>
                <li class="colist" id="cosec">
                    <input type="radio"  name="radio-set" id="li-i2" value="139.129.50.126/blog" onclick="tiao()">
                    <a href="#">
                        <img class="a_img" src="../static/images/blog.png"></img>
                    </a>
                </li>
                <li class="colist" id="cothr">
                    <input type="radio"  name="radio-set" id="li-i3" value="139.129.50.126/contact" onclick="tiao()">
                    <a href="#">
                        <img src="../static/images/connect.png" class="a_img">
                    </a>
                </li>
            </ul>      
        </div>
        <div class="mright">
            <div class="cont-box">
                <p id="index_content">欢迎来到我的博客= = 然而博客刚开始做，啥都没，目前CSS也只配置了chrome的-等我哪天有时间再配置其他的--</p>
            </div>
                    
                    
                    
        </div>
    </div>
</body>
</html>
